html, body {
  background-color:whitesmoke ;
}
.popup-view {
  align-content: space-around;
  background-color: whitesmoke;
}
.tab-search-entry-list-container {
  margin: 10px;
}
.tab-search-entry-list {
  padding: 5px;
  border-style: ridge;
  border-width: 2px;
  border-radius: 2px;
  border-color: ivory;
  box-shadow: 0px 3px 3px grey;
}
textarea:focus, input:focus {
  outline: none;
  box-shadow: 0px 3px 3px lightsteelblue;
}
.tab-tile-container {
  margin: 20px;
  height: 40px;
  width: 500px;
  display: flex;
  background-color: white;
  flex-direction: row;
  border-style: solid;
  align-items: center;
  border-width: 1px;
  border-radius: 5px;
  border-color: ivory;
  box-shadow: 0px 3px 5px 0px grey;
  transition: 250ms all ease-in-out;
}
.tab-tile-container:hover {
  border-color: lightsteelblue;
  box-shadow: 0px 3px 10px 0px lightsteelblue;
}
.tab-search-results-list-container {
  list-style: none;
}
.tab-tile-icon-container {
  margin: 5px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
img {
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  padding-left: 2px;
  padding-top: 2px;
  width: 25px;
  height: 25px;
}
.tab-tile-title-container {
  margin: 5px;
  cursor: default;
  width: 400px;
}
.tab-tile-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: small;
}
.tab-tile-close-action-icon-container {
  justify-self: flex-end;
  justify-items: flex-end;
  font-family: monospace;
  cursor: default;
  transform: rotate(45deg);
  font-size: 30px;
  width: 30px;
  height: 30px;
  margin: 5px;
  text-shadow: 1px 1px grey;
}
.tab-tile-close-action-icon-container:hover {
  color: red;
}
